# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplotlib
4. TensorFlow

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebook|
|Power BI|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Arithmetic Expressions 
x = 40
y = 12

add = x + y 
sub = x - y 
pro = x * y 
div = x / y 

print(add) 
print(sub) 
print(pro) 
print(div)

52
28
480
3.3333333333333335

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:** List popular languages for Data Science
* Python
* R
* SQL
* Java

## Author
Preetam